<h1> <%= @post.title %> </h1>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit this Post', edit_post_path %>
<%= link_to 'All Posts', controller: 'posts' %>
<%= link_to 'Home', controller: 'welcome' %>